@model Banco_Toyko.Models.Request.RequestCliente.RequestCreateCliente;
@{
    Layout = null;
}


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Banco_Toyko.styles.css" asp-append-version="true" />

<div class="text-center">
    <a asp-action="Login">Fazer Login</a>
</div>
<div class="Tocenter">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Register">
s
                <div asp-validation-summary="All"></div>

                <div class="form-group">
                    <label asp-for="Nome" autocomplete="off" class="control-label"></label>
                    <input asp-for="Nome" autocomplete="off" class="form-control" style="text-align: center;"/>
                    <span asp-validation-for="Nome"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Sobrenome" autocomplete="off" class="control-label"></label>
                    <input asp-for="Sobrenome" autocomplete="off" class="form-control" style="text-align: center;"/>
                    <span asp-validation-for="Sobrenome"></span>
                </div>

                <div class="form-group">
                    <label asp-for="CPF" autocomplete="off" class="control-label"></label>
                    <input asp-for="CPF" autocomplete="off" class="form-control" style="text-align: center;"/>
                    <span asp-validation-for="CPF"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Idade" autocomplete="off"class="control-label"></label>
                    <input asp-for="Idade" autocomplete="off" class="form-control" style="text-align: center;"/>
                    <span asp-validation-for="Idade"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Senha" autocomplete="off" class="control-label"></label>
                    <input asp-for="Senha" autocomplete="off" class="form-control" style="text-align: center;"/>
                    <span asp-validation-for="Senha"></span>
                </div>

                <div class="form-group">
                    <input style="margin-top:20px;" type="submit" value="Entrar" class="btn btn-primary"/>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .Tocenter{
        position: relative;
        left: 35%;
        align-items: center;
        text-align: center;
    }
</style>